<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>CRUD</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
	</head>
	
	<body>
		<!-- Modal -->
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Add Person</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form action="/create" method="post">
			      <div class="modal-body">
					  <div class="form-group">
					    <label for="firstname">Firstname</label>
					    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="firstname">
					  </div>
					  <div class="form-group">
					    <label for="lastname">Lastname</label>
					    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="lastname">
					  </div>
					  <div class="form-group">
					    <label for="occupation">Occupation</label>
					    <input type="text" class="form-control" id="occupation" name="occupation" placeholder="occupation">
					  </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="submit" class="btn btn-primary">Save</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>
		
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Update Person</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form action="/update" method="post">
			      <div class="modal-body">
					  <div class="form-group">
					    <label for="firstname">Firstname</label>
					    <input type="text" class="form-control" id="ufirstname" name="firstname" placeholder="firstname">
					  </div>
					  <div class="form-group">
					    <label for="lastname">Lastname</label>
					    <input type="text" class="form-control" id="ulastname" name="lastname" placeholder="lastname">
					  </div>
					  <div class="form-group">
					    <label for="occupation">Occupation</label>
					    <input type="text" class="form-control" id="uoccupation" name="occupation" placeholder="occupation">
					  </div>
			      </div>
			      <div class="modal-footer">
			        <input type="hidden" id="uid" name="id">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="submit" class="btn btn-primary">Save</button>
			      </div>
		      </form>
		    </div>
		  </div>
		</div>
		
		<!-- Begin page content -->
    	<main role="main" class="container">
    		<div class="container px-3 py-3">
    			<div>
    			<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#addModal">
  					Add Person
				</button>
				</div>
				<div th:if="${msg != null}" th:classappend="${msg.classname}" th:text="${msg.text}" th:style="'display: show; margin-top: 50px;'" role="alert" class="alert" style="display: none;">
				</div>
	      		<h2 class="mt-5">Search</h2>
	      		<form action="/">
	  				<div class="form-row">
	    				<div class="form-group col-md-6">
	      					<label for="firstname">Firstname</label>
	      					<input type="text" class="form-control" id="firstname" name="firstname" placeholder="Firstname">
	    				</div>
	    				<div class="form-group col-md-6">
	      					<label for="lastname">Lastname</label>
	      					<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Lastname">
	   	 				</div>
	  				</div>
	  				<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
			<div class="container" th:if="${person != null}" th:style="'display: show;'" style="display: none;">
				Rows: <span th:if="${person != null}" th:text="${#lists.size(person)}"></span>
				<table class="table table-striped">
	  				<thead class="thead-dark">
	    				<tr>
	      					<th scope="col">Firstname</th>
	      					<th scope="col">Lastname</th>
	      					<th scope="col">Occupation</th>
	      					<th scope="col"></th>
							<th scope="col"></th>
	    				</tr>
	  				</thead>
	  				<tbody>
	    				<th:block th:if="${person != null}" th:each="per: ${person}">
	    					<tr th:id="${per.id}">
	    						<td th:text="${per.firstname}"></td>
	    						<td th:text="${per.lastname}"></td>
	    						<td th:text="${per.occupation}"></td>
	    						<td style="text-align: center; vertical-align: middle;"><button type="button" class="btn btn-info" onclick="update(this);">Edit</button></td>
	    						<td style="text-align: center; vertical-align: middle;">
	    							<a th:href="'/delete?id=' + ${per.id}"><button type="button" class="btn btn-danger">Delete</button></a>
	    						</td>
	    					</tr>
	    				</th:block>
	    			</tbody>
				</table>
			</div>
    	</main>

		<!-- Optional JavaScript -->
    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<script src="js/jquery-3.5.1.slim.min.js"></script>
    	<script src="js/popper.min.js"></script>
    	<script src="js/bootstrap.min.js"></script>
		
		<script>
			function update(button) {
				var $item = $(button).closest("tr");
				
				$('#ufirstname').val($item.find("td:nth-child(1)").text());
				$('#ulastname').val($item.find("td:nth-child(2)").text());
				$('#uoccupation').val($item.find("td:nth-child(3)").text());
				$('#uid').val($item.attr('id'));

				$('#updateModal').modal('show');
				$('#ufirstname').trigger('focus');
			}
		</script>
	</body>
</html>